#content{
	margin-top: 140px;
	height: 460px;
	background: url(../img/contact.jpg) no-repeat;
	background-position: 0 30px;
	color: #fff;
	padding: 60px 35px;
}
#content .title{
	height: 100px;
	line-height: 100px;
	font-size: 16px;
}
#content .info li , #content .info li a{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}
#content a{
	color: #fff;
}
#allmap{
	width: 50%;
	height: 100%;
}