#content{
	margin-top: 140px;
	color: #73737d;
	padding: 20px;
	line-height: 180%;
}
#content img{
	/*background-size: contain;*/
	width: 100%;
}
#content .info,#content .detail{
	padding: 10px;

}
#content .info p{
	border-bottom: 1px solid #e1e1e6;
	padding: 10px;
}
#content .border-bg{
	height: 38px;
	background: #efeff2;
	border: 1px solid #e7e8eb;
} 