#write{
	padding:20px 0;
	margin-top:140px;
}
#share-pic{
	background: url(../img/share.jpg) no-repeat;
	height: 30px;
}
#share{
	padding: 0;
}
#share li{
	margin: 20px 0;
	height: 150px; 
	border-bottom: 1px solid #e7e7e7;
}
#share img{
	padding: 0;
}
#share h4{
	color: #56545d;
}
#share p{
	color: #8a8796;
	font-size: 14px;
	line-height: 28px;
	text-indent: 28px;
}
#active-pic{
	background: url(../img/active.jpg) no-repeat;
	height: 30px;
}
#active{
	padding: 0;
	margin-left: -3px;
}
#active img{
	padding: 0;
	margin: 20px 0;
}
