#write{
	padding:20px 0;
	margin-top:140px;
}
h3{
	margin-top: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
	color: #2d2e31;
	font-weight: bold; 
}
#pink{
	background: url(../img/active.jpg) no-repeat;
	height: 30px;
}
h4{
	margin-top: 0;
	font-size: 12px;
	color: #656870;
}
.content p{
	color: #656870;
	font-size: 14px;
	line-height: 28px;
	text-indent: 35px;
}
#active{
	padding: 0;
	margin-top: -20px;
}
#active img{
	padding: 0;
	margin-bottom: 20px;
}
