*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
ul,ol{
	list-style: none;
}
body{
	font-family: 'Microsoft YaHei'!important;
}
/*a{
	text-decoration: none;
}*/
a:hover{
	text-decoration: none !important;
}
img{
	border: 0;
}
#main-navbar{
	height: 140px;
	/*position: fixed;
	top: 0;*/
	margin-bottom: 140px;
}
#header{
	height: 80px;
	
}

/*顶部按钮*/
.icon-bar{
background: rgb(66, 133, 244);
/*background: #002b7f;*/
}
/*电话*/
#tel a,#change a{
	color: #000;
	font-weight: bold;
}
#tel{
	line-height: 80px;
}
/*语言切换*/
#change{
	line-height: 80px;
	float: right;
	

}
#change a{
	text-decoration: none;

}

#nav{
	/*background: #002b7f;*/

}
#nav ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	height: 60px;
	line-height: 60px;
	margin-bottom: 0;
}
#nav ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
@media all and (max-width: 767px){
	#change, #tel{
		line-height: 30px;
	}
	#nav{
		display: none;

	}
	#nav ul{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column nowrap;
		margin-top: 20%;
	}	
	#nav ul li{
		text-align: center;
		background: deepskyblue;
		border-top:1px solid rgba(255,255,255,0.3);
		border-bottom:1px solid rgba(0,0,0,0.1);
	}
	#nav ul li:hover{
		background:#00AEE8;
	}
}

/*@media all and (max-width:800px) {
	.navigation {
		justify-content: space-around
	}
}
@media all and (max-width:600px) {
	.navigation {
		-webkit-flex-flow: column wrap;
		padding: 0
	}
	.navigation a {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1)
	}
	.navigation li:last-of-type a {
		border-bottom: none
	}
}
*/


#nav ul a{
	color: #fff;
}
/*nav鼠标滑过*/
.choose{
	background: url(../img/nav-bg.jpg) no-repeat center 80%;
}
footer .navbar{
	margin-bottom: 0;	
}
#footer{
	height: 180px;
	background: #404040;
	color: #fff;
	line-height: 180%;
	padding-top: 2%; 
}
#footer .website{
	height: 50px;
	padding: 0 0;
}
#footer .website li{
	float: left;
	margin-right: 20px;
}
#footer .addr{
	/*padding-top: 10%;*/
	padding: 0 0;
}
#footer .QR{
	/*padding-top: 5%;*/
}
#power-by{
	height: 46px;
	background: #333333;
}
/*清除浮动*/
.clearfix:after{
	display: block;
	content: '';
	clear: both;
	visibility: hidden;
}


.enStyle{
	background: #002b7f;
}
.chnStyle{
	background: rgb(66, 133, 244);
}
.justify{
	text-align: justify;
}


