#intro{
	height: 30px;
	line-height: 30px;
	font-weight: 900;
	background: #b3c7ec;
	color: #ffffff;
	text-align: center;
	margin-top: 20px; 
	margin-bottom: 20px;
}
.member{
	margin-left: -5%;
}
.content{
	margin-left: -2%;

}
.content p{
	font-size: 10px;
}
/*.container{
	margin-bottom: 30px;
}
.item{
	margin-bottom: 10px;
}*/


.item{
	margin-bottom: 20px;
}




